@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
:root {
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background: var(--background-dark);
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.footer-container {
  width: 100%;
  padding: 1.2rem;
}

.footer-container h4 {
  padding: 0.2rem;
  font-size: 1rem;
}

.footer-text {
  float: left;
}

.icon-container {
  float: right;
  padding: 0rem 1rem;
}

.footer-icon {
  padding: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 960px) {
  .footer-container h4 {
    font-size: 1rem;
    font-weight: 200;
  }
  .footer-icon {
    padding: 0.75rem;
    font-size: 1rem;
  }
  .footer-container {
    padding: 1.25rem;
  }
}